.nav-bar {
    margin-top: 0; 
    background-color: #065e06;
    overflow: hidden;
    display: flex; /* Cambiado de display: contents a display: flex */
    align-items: center; /* Alinea verticalmente los elementos */
    box-sizing: border-box; /* Asegura que el relleno se incluya en el ancho total */
    height: 70px; /* Altura deseada */
}

.nav-bar a {
    float: left;
    color: rgb(245, 236, 236);
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    border: #34b634;
    font-size: x-large;
    border-color: #ddd;
}
.form-control {
    min-height: 39px;
}
.text-area {
    min-height: 200px; /* ajusta este valor según lo grande que quieras que sea el área de texto hacia abajo */
}
.primer-contenedor {
    background-color: #cccccc; /* Plomo */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior */
}
.segundo-contenedor{
  background-color: #fafcfd; /* Plomo */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior */

}
#presentationFile{

    display: none;
}

#videoFile{
 display: none;
}