body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.nav-bar {
  margin-top: 0; 
  background-color: #065e06;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 70px;
}

.nav-bar a {
  float: left;
  color: rgb(245, 236, 236);
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  border: #34b634;
  font-size: x-large;
  border-color: #ddd;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.contador {
  background-color: #a8e6b8;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.boton {
  background-color: #218838;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.boton:hover {
  background-color: #218838;
}

.curso-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.curso-card h2 {
  color: #333;
}

.curso-card p {
  margin: 5px 0;
  color: #666;
}

.boton-icono {
  background-color: #10852c;
  color: white;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.boton-icono:hover {
  background-color: #218838;
}

.boton-volver:hover {
  background-color: #218838;
}

.card-img-top-fit {
  height: 200px; /* Ajusta a la altura deseada */
  object-fit: cover; /* Esto asegura que la imagen cubra completamente el área sin distorsionarse */
  width: 100%; /* Esto hace que la imagen sea tan ancha como su contenedor */
  border-radius: 15px 15px 0 0;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.header-img {
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  filter: invert(27%) sepia(97%) saturate(1509%) hue-rotate(90deg) brightness(102%) contrast(102%);
  margin-right: 10px; /* Space between the image and the heading */
}

.course-item {
  border: 1px solid #d3d6d4;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px; /* Fixed height */
  overflow: hidden; /* Ensure that overflowing content is hidden */
  transition: background-color 0.3s ease; /* Add transition for smooth background color change */
}

.course-item:hover {
  background-color: #50b984; /* Green watercolor color on hover */
}

.course-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.course-item img:hover {
  transform: scale(1.2); /* Scale image to 120% on hover */
}

.course-details {
  flex-grow: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.course-actions button, .course-actions a {
  width: 150px; /* Set a fixed width for buttons */
}

.summary-container {
  margin-left: 10px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 250px;
  height: 200px;
}

.total-section {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.pay-button {
  width: 100%;
}
.swal2-small {
  width: 300px !important; /* Ancho personalizado */
  height: 300px !important; /* Altura ajustada automáticamente */
}
