/* Estilos básicos */
.left-section {
    flex: 1;
    padding-right: 20px;
}

.right-section {
    flex: 2;
}

h1, h2, h3 {
    text-align: center;
}

.imagen-circular {
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.imagen-circular img {
    height: 100%;
    width: 80%;
    border-radius: 100%;
    border: 2px solid #ccc;
    object-fit: cover;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select {
    padding-right: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 16px;
}

#drop_zone_container {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

#drop_zone_inner {
    padding: 20px;
}

#drop_zone {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview {
    max-width: 100%;
    max-height: 200px;
    display: none;
    margin-top: 20px;
}

button {
    font-size: 18px; /*Cambia el tamaño de la letra del botón*/
}

.btn-cancelar {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #77e494;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Espacio entre los botones */
    font-size: 18px; /* Tamaño de letra aumentado */
}

.btn-cancelar:hover {
    background-color: #71e271; /* Color de fondo cuando se pasa el cursor */
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.error-field {
    border: 1px solid red !important;
}

.error-icon {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    font-size: 16px;
    color: red;
}

.container2 {
    max-width: 1200px;
    width: 100%;
    background: var(--grey);
    padding: 30px;
    border-radius: 30px;
    border: 2px dashed #999;
}

.img-area {
    position: relative;
    width: 80%; /* Ajuste porcentual para responsividad */
    max-width: 400px; /* Máximo original */
    height: 240px;
    margin: 0 auto; /* Centrado automático */
    background: var(--grey);
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-area .icon {
    font-size: 100px;
}

.img-area h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.img-area p {
    color: #999;
}

.img-area p span {
    font-weight: 600;
}

.img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}

.img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
}

.img-area.active:hover::before {
    opacity: 1;
}

.select-image {
    display: block;
    position: relative;
    margin: 0 auto; /* Centrado automático */
    width: 80%; /* Ajuste porcentual para responsividad */
    max-width: 400px; /* Máximo original */
    padding: 5px 0;
    border-radius: 15px;
    background: var(--blue);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.select-image:hover {
    background: var(--dark-blue);
}

.highlight {
    border-color: blue;
    background-color: rgba(0, 0, 255, 0.3);
}

/* Media Queries para ajustes específicos en tamaños de pantalla más pequeños */
@media (max-width: 768px) {
    .container2 {
        padding: 20px;
    }

    .img-area,
    .select-image {
        width: 100%;
        max-width: 360px; /* Ajustar según el espacio disponible */
    }

    .img-area .icon {
        font-size: 80px;
    }

    .img-area h3 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .img-area .icon {
        font-size: 60px;
    }

    .img-area h3 {
        font-size: 16px;
    }
}
