body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    
}

.nav-bar {
    margin-top: 0; 
    background-color: #065e06;
    overflow: hidden;
    display: flex; /* Cambiado de display: contents a display: flex */
    align-items: center; /* Alinea verticalmente los elementos */
    box-sizing: border-box; /* Asegura que el relleno se incluya en el ancho total */
    height: 70px; /* Altura deseada */
}

.nav-bar a {
    float: left;
    color: rgb(245, 236, 236);
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    border: #34b634;
    font-size: x-large;
    border-color: #ddd;
}

.nav-bar a:hover {
    background-color: #ddd;
    color: black;
}

.contador {
    background: linear-gradient(180deg, #063006, #a8e6b8); /* Degradado de verde oscuro a verde claro */
    padding: 20px;
    margin-top: 3px;
    border-radius: 12px; /* Bordes curvados */
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Asegura que el pseudo-elemento no se salga del contenedor */
    color: #ffffff; /* Color de texto blanco para mayor contraste */
}

.contador::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    border: 3px solid transparent; 
    background-image: linear-gradient(90deg, transparent, transparent, #51bb7d);
    animation: borderHighlight 2s linear infinite; /* Animación de resaltado */
    pointer-events: none; /* Asegura que el pseudo-elemento no interfiera con la interacción de los elementos internos */
}

@keyframes borderHighlight {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #97fda5;
    }
    100% {
        border-color: transparent;
    }
}

.form-control, .btn {
    z-index: 1; /* Asegura que los botones y elementos de formulario estén por encima del pseudo-elemento animado */
    position: relative; /* Asegura el correcto posicionamiento de los elementos interactivos */
}





.boton {
    background-color: #218838;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #218838;
}

.curso-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.curso-card h2 {
    color: #333;
}

.curso-card p {
    margin: 5px 0;
    color: #666;
}

.boton-icono {
    background-color: #10852c;
    color: white;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.boton-icono:hover {
    background-color: #218838;
}

.boton-volver:hover {
    background-color: #218838;
}

.card-img-top-fit {
    height: 200px; /* Ajusta a la altura deseada */
    object-fit: cover; /* Esto asegura que la imagen cubra completamente el área sin distorsionarse */
    width: 100%; /* Esto hace que la imagen sea tan ancha como su contenedor */
    border-radius: 15px 15px 0 0;
}

/* Define la clase para el tooltip personalizado */
.tippy-box[data-theme~='custom'] {
    background-color: #0d3d26; /* Tonalidad clara de verde */
    color: rgb(240, 243, 242); /* Color del texto */
}

.tippy-box[data-theme~='custom'] .tippy-content {
    padding: 10px; /* Padding personalizado */
}

.message {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

.message.success {
    background-color: #28a745;
    color: white;
}

.message.error {
    background-color: #dc3545;
    color: white;
}