/* Redes Sociales Fijas */
.menu-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0); /* Fondo semitransparente */
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 -2px 10px rgba(189, 185, 185, 0.089);
  }
  
  .link {
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    border-radius: 99em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform-origin: center left;
    transition: width 0.8s ease-in;
    text-decoration: none;
    color: inherit;
  }
  
  .link:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 99em;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    background-color: #eee;
  }
  
  .link:hover, .link:focus {
    outline: 0;
    width: 140px;
  }
  
  .link:hover:before,
  .link:hover .link-title {
    transform: translateX(0%);
  }
  
  .link-icon {
    color: var(--color);
    font-size: 27px !important;
    display: block;
    flex-shrink: 0;
    left: 18px;
    position: absolute;
  }
  
  .link-title {
    color: var(--color);
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    display: block;
    text-align: center;
    text-indent: 20px;
    width: 100%;
  }

  .team-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    border-radius: 10%;
   
  }
  .team-link {
    margin-left: 350px; /* Adjust as needed for spacing */
  }

  .team-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    border-radius: 10%; /* Optional: Make it circular */
  }