body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.btn-personal{

    background-color:#499949 ;
    border: 2px solid #066837;
    color: aliceblue;
   
}
.btn-personal2{

    background-color:#218838 ;
    border: 2px solid #017901;
    color: aliceblue;
   
}