body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="number"],
input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: 007bff;
    color: fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: 0056b3;
}
