<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Sección de Curso</title>
    <link rel="stylesheet" href="/static/css/styleUdd.css">
     <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/editor.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand fs-2" href="{{url_for('landing')}}" >Campus alalay</a>
            
            <!-- Toggler for mobile view -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link  fs-3" aria-current="page" href="{{url_for('perfildocente')}}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="{{ url_for('listar_cursos') }}">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="#">Comunidad</a>
                    </li>
                </ul>
                <!-- User Icon -->
            </div>
        </div>
    </nav>



    <div class="d-flex  align-items-center justify-content-center" style="margin: 0; padding: 0;">
        <div class="container col-md-9">
            
            <h1 class="display-1 fw-normal mt-3 p-4">Material y Recursos del Curso </h1>

                <div class="row">
                        {% for section in sections %}
                            <div class="col-md-12 section-box ">
                                <div class="d-flex justify-content-between">
                                    <h3>Seccion{{loop.index}}: {{ section[1] }}</h3>
                                     <button class="btn btn-success add-file-btn" data-target="form-archivo{{ loop.index }}"> <span>+</span>Añadir Material </button>
                                </div>
                                 <!-- Suponiendo que el nombre es el segundo campo -->
                                <p>{{section[2] }}</p>
                                 <!-- Suponiendo que la descripción es el tercer campo -->
                                 
                                 <div  class="container my-4 primer-contenedor" id="form-archivo{{loop.index}}" style="display: none;">
                                    <form action="{{url_for('addfile',id_seccion=section[0], curso_id=curso_id)}}" method="POST" enctype="multipart/form-data">
                                    <div class="container my my-5 segundo-contenedor">
                                        <div class="form-group">
                                            <label>1. Escoge un video</label>
                                            <div class="d-flex align-items-center"> <!-- Div envolvente para alinear los elementos en la misma línea -->
                                                <div class="input-group" style="width: 1000px;"> <!-- Establecer el ancho deseado para el form-control -->
                                                    <div class="form-control form-control-sm" id="videoFileName">Ningún archivo seleccionado</div>
                                                    <input type="file" id="videoFile" accept="video/mp4, video/x-matroska">
                                                </div>
                                                <button type="button" class="btn btn-success ms-2 fixed-width-button" id="videoFileButton" onclick="document.getElementById('videoFile').click()">Seleccionar Archivo</button>
                                            </div>
                                            <small class="form-text text-muted">Nota: Todos los archivos deben tener al menos 720p y pesar menos de 4 GB.</small>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>2. Escoge una presentación</label>
                                            <div class="d-flex align-items-center"> 
                                                <div class="input-group" style="width: 1000px;">  
                                                    <div class="form-control form-control-sm" id="presentationFileName">Ningún archivo seleccionado</div>
                                                    <input type="file" id="presentationFile" style="display: none;" accept=".pdf,.docx,.docxf,.odt,.xlsx,.pptx,.html">
                                                </div>
                                                <button type="button" class="btn btn-success ms-2 fixed-width-button" id="presentationFileButton" onclick="document.getElementById('presentationFile').click()">Seleccionar Archivo</button>
                                            </div>
                                            <small class="form-text text-muted">Nota: Una presentación significa diapositivas (ej: PowerPoint, Keynote). Las diapositivas son una excelente manera de combinar texto e imágenes para explicar conceptos de manera eficaz y efectiva.</small>
                                        </div>            
                                        <label>3.- texto</label>
                                        <div class="container">
                                            <div class="toolbar">
                                                <div class="head">
                                                    <input type="text" placeholder="Filename" value="untitled" id="filename">
                                                    <select onchange="fileHandle(this.value); this.selectedIndex=0">
                                                        <option value="" selected="" hidden="" disabled="">File</option>
                                                        <option value="new">New file</option>
                                                        <option value="txt">Save as txt</option>
                                                        <option value="pdf">Save as pdf</option>
                                                    </select>
                                                    <select onchange="formatDoc('formatBlock', this.value); this.selectedIndex=0;">
                                                        <option value="" selected="" hidden="" disabled="">Format</option>
                                                        <option value="h1">Heading 1</option>
                                                        <option value="h2">Heading 2</option>
                                                        <option value="h3">Heading 3</option>
                                                        <option value="h4">Heading 4</option>
                                                        <option value="h5">Heading 5</option>
                                                        <option value="h6">Heading 6</option>
                                                        <option value="p">Paragraph</option>
                                                    </select>
                                                    <select onchange="formatDoc('fontSize', this.value); this.selectedIndex=0;">
                                                        <option value="" selected="" hidden="" disabled="">Font size</option>
                                                        <option value="1">Extra small</option>
                                                        <option value="2">Small</option>
                                                        <option value="3">Regular</option>
                                                        <option value="4">Medium</option>
                                                        <option value="5">Large</option>
                                                        <option value="6">Extra Large</option>
                                                        <option value="7">Big</option>
                                                    </select>
                                                    <div class="color">
                                                        <span>Color</span>
                                                        <input type="color" oninput="formatDoc('foreColor', this.value); this.value='#000000';">
                                                    </div>
                                                    <div class="color">
                                                        <span>Background</span>
                                                        <input type="color" oninput="formatDoc('hiliteColor', this.value); this.value='#000000';">
                                                    </div>
                                                </div>
                                                <div class="btn-toolbar">
                                                    <button onclick="formatDoc('undo')"><i class='bx bx-undo' ></i></button>
                                                    <button onclick="formatDoc('redo')"><i class='bx bx-redo' ></i></button>
                                                    <button onclick="formatDoc('bold')"><i class='bx bx-bold'></i></button>
                                                    <button onclick="formatDoc('underline')"><i class='bx bx-underline' ></i></button>
                                                    <button onclick="formatDoc('italic')"><i class='bx bx-italic' ></i></button>
                                                    <button onclick="formatDoc('strikeThrough')"><i class='bx bx-strikethrough' ></i></button>
                                                    <button onclick="formatDoc('justifyLeft')"><i class='bx bx-align-left' ></i></button>
                                                    <button onclick="formatDoc('justifyCenter')"><i class='bx bx-align-middle' ></i></button>
                                                    <button onclick="formatDoc('justifyRight')"><i class='bx bx-align-right' ></i></button>
                                                    <button onclick="formatDoc('justifyFull')"><i class='bx bx-align-justify' ></i></button>
                                                    <button onclick="formatDoc('insertOrderedList')"><i class='bx bx-list-ol' ></i></button>
                                                    <button onclick="formatDoc('insertUnorderedList')"><i class='bx bx-list-ul' ></i></button>
                                                    <button onclick="addLink()"><i class='bx bx-link' ></i></button>
                                                    <button onclick="formatDoc('unlink')"><i class='bx bx-unlink' ></i></button>
                                                    <button id="show-code" data-active="false">&lt;/&gt;</button>
                                                </div>
                                            </div>
                                            <div id="content" contenteditable="true" spellcheck="false">
                                            </div>
                                        </div>
                            
                                        <div class="d-flex justify-content-end mt-2">
                                            <button type="button" class="btn btn-danger me-3" style="width: 150px; border-radius: 15px;" data-bs-toggle="modal" data-bs-target="#cancelModal">Cancelar</button>
                                            <button type="submit" class="btn btn-success" style="width: 150px; border-radius: 15px;">Finalizar</button>
                                        </div>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="cancelModalLabel">Confirmación</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Estás seguro de cancelar el registro?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" style="border-radius: 10px;" onclick="window.location.reload();">Sí, quiero cancelar</button>
                                                        <button type="button" class="btn btn-success" style="border-radius: 10px;" data-bs-dismiss="modal">Seguir Registrando</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                  </form>
                                </div>
                                        {% for cont in contenido %}
                                        <div class=" row my-4  p-2" style="border:1px solid black ;">
                                            <h2>Archivos Cargados</h2>
                                            <div class="col-md-6 align-items-center justify-content-center d-flex" id="filesInfo" class="list-group">
                                               <video width="100%" height="100%" controls>
                                                  <source src="{{cont[1]}}" type="video/mp4"> 
                                               </video>  
                                           </div>  
                                           <div class="col-md-6 align-items-center justify-content-center d-flex" id="filesInfo" class="list-group">
                                            <embed src="{{cont.2}}" type="application/pdf" width="100%" height="100%">
                                           </div>
                                           <div class="d-flex justify-content-end mt-4 p-3">
                                            <button class="btn btn-danger me-5" style="width: 150px; border-radius: 15px;">Eliminar</button>
                                        </div>
                                        </div>
                                        
                                                                        
                                        {% endfor %}
                                    
                            
                               
                                <div class="d-flex justify-content-end p-4">
                                    <button class="btn btn-success me-5" style="width: 150px; border-radius: 15px;"> Editar</button>
                                    <button class="btn btn-danger me-5" style="width: 150px; border-radius: 15px;">Eliminar</button>
                                </div>
                            </div>
                            
                        {% endfor %}
                        <div class="col-md-12" id="form-container" style="display: none;">
                                <form class="row" action="{{url_for('addseccion',curso_id=curso_id)}}" method="POST">
                                     <div class="col-md-2">
                                        <h3>Seccion:</h3>
                                     </div>
                                    <div class="col-md-8 mb-3 row">
                                        <div class="col-ms-10">
                                           <input  class="form-control" type="text" id="section-name" name="section-name" required>
                                        </div>
                
                                        <label class=" form-label mt-4" for="section-description">
                                            Que podran hacer los estudiantes en esta seccion?
                                        </label>
                                        <div class="col-ms-10">
                                           <textarea class="form-control" id="section-description" name="section-description" style="resize: none;" rows="5"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex justify-content-end" >
                                        <button class="btn btn-danger me-5" type="button" style="width: 150px; border-radius: 15px;">Cancelar</button>
                                        <button class="btn btn-success me-5" type="submit" style="width: 150px; border-radius: 15px;">Guardar</button>
                                    </div>    
                                </form>   
                                
                        </div>
                       
                        <div class="">
                            <button class="btn btn-success" id="add-section-btn" style="width: 150px; border-radius: 10px;"> <span>+</span>Añadir Sección </button>
                        </div>
                   
                </div> 
         </div>


    </div>
    <script>
        document.getElementById("add-section-btn").addEventListener("click", function() {
          document.getElementById("form-container").style.display = "block"; // Muestra el formulario
        });
        document.querySelectorAll(".add-file-btn").forEach(button => {
            button.addEventListener("click", function() {
                var formId = this.getAttribute("data-target"); // Obtiene el ID del formulario correspondiente
                document.getElementById(formId).style.display = "block"; // Muestra el formulario correspondiente
            });
        });

    </script>
    
    <script>
      document.getElementById('videoFile').addEventListener('change', function() {
    const input = this;
    const file = input.files[0];
    if (file) {
        // Verificar el tamaño del archivo (en bytes)
        const fileSizeInBytes = file.size;
        
        const fileSizeInGB = fileSizeInBytes / (1024 * 1024 * 1024);
        if (fileSizeInGB > 4) {
            alert('El archivo seleccionado es demasiado grande. El tamaño máximo permitido es de 4 GB.');
            input.value = '';
            return; 
        }       
        
        const video = document.createElement('video');
        video.preload = 'metadata';
        video.onloadedmetadata = function() {
            window.URL.revokeObjectURL(video.src);
            // Obtener la resolución del video
            const videoWidth = this.videoWidth;
            const videoHeight = this.videoHeight;
            if (videoWidth > 1280 || videoHeight > 720) { // Verificar si la resolución excede los límites
                alert('El video seleccionado tiene una resolución mayor a 720p.');
                input.value = '';
                return;
            }
             };
        video.src = URL.createObjectURL(file);
    }
});

        
    </script>
     
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/editor.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
      
</body>
</html>

