<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Sección de Curso</title>
    <link rel="stylesheet" href="/static/css/styleUdd.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex  align-items-center justify-content-center" style="margin: 0; padding: 0;">
        <div class="container col-md-9">
            
            <h1 class="display-1 fw-normal mt-3 p-4">Material y Recursos del Curso </h1>

                <div class="row">
                        {% for section in sections %}
                            <div class="col-md-12 section-box ">
                                <div class="d-flex justify-content-between">
                                    <h3>Seccion{{loop.index}}: {{ section[1] }}</h3>
                                     <button class="btn btn-success add-file-btn" data-target="form-archivo{{ loop.index }}"> <span>+</span>Añadir Material </button>
                                </div>
                                 <!-- Suponiendo que el nombre es el segundo campo -->
                                <p>{{section[2] }}</p>
                                 <!-- Suponiendo que la descripción es el tercer campo -->
                                 
                                    
                                 <div  class="container my-4 primer-contenedor" id="form-archivo{{loop.index}}" style="display: none;">
                                    <form action="{{url_for('addfile',id_seccion=section[0], curso_id=curso_id)}}" method="POST" enctype="multipart/form-data">
                                    <h3>Añadir Material</h3>
                                    <div class="container my my-5 segundo-contenedor">
                                        <div class="form-group">
                                            <label>1. Escoge un video</label>
                                            <div class="d-flex align-items-center"> <!-- Div envolvente para alinear los elementos en la misma línea -->
                                              <div class="input-group" style="width: 1000px;"> <!-- Establecer el ancho deseado para el form-control -->
                                                  <div class="form-control form-control-sm" id="videoFileName">Ningún archivo seleccionado</div>
                                                  <input type="file" id="videoFile" name="videoFile" accept=".mp4">
                                              </div>
                                              <button type="button" class="btn btn-success ms-2" onclick="document.getElementById('videoFile').click()" style="width: 200px; border-radius: 15px;">Seleccionar Archivo</button> <!-- ms-2 para establecer un pequeño margen a la izquierda -->
                                          </div>
                                            <small class="form-text text-muted">Nota: Todos los archivos deben tener al menos 720p y pesar menos de 4 GB.</small>
                                        </div>
                                        <div class="form-group">
                                            <label></label>
                                            <div class="d-flex align-items-center"> 
                                              <div class="input-group" style="width: 1000px;">  
                                                  <div class="form-control form-control-sm" id="presentationFileName">Ningún archivo seleccionado</div>
                                                  <input type="file" id="presentationFile" name="presentationFile" style="display: none;" accept=".pdf">
                                              </div>
                                              <button type="button" class="tn btn-success ms-2" onclick="document.getElementById('presentationFile').click()" style="width: 200px; border-radius: 15px;">Seleccionar Archivo</button>
                                          </div>
                                            <small class="form-text text-muted">Nota: Una presentación significa diapositivas (ej: PowerPoint, Keynote). Las diapositivas son una excelente manera de combinar texto e imágenes para explicar conceptos de manera eficaz y efectiva.</small>
                                        </div>
                            
                                        <div class="form-group">
                                            <label class="form-label">3. Texto</label>
                                            <textarea class="form-control" id="descripcion" name="descripcion" style="resize: none;" rows="9"></textarea>
                                        </div>
                            
                                        <div class="d-flex justify-content-end mt-2"> <!-- Aquí agregamos la clase justify-content-end -->
                                            <button type="button" class="btn btn-danger me-3" style="width: 150px; border-radius: 15px;">Cancelar</button>
                                            <button type="submit" class="btn btn-success" style="width: 150px; border-radius: 15px;">Finalizar</button>
                                        </div>
                                    </div>
                                  </form>
                                </div>
                                        {% for cont in contenido %}
                                        <div class=" row my-4  p-2" style="border:1px solid black ;">
                                            <h2>Archivos Cargados</h2>
                                            <div class="col-md-6 align-items-center justify-content-center d-flex" id="filesInfo" class="list-group">
                                               <video width="100%" height="100%" controls>
                                                  <source src="{{cont[1]}}" type="video/mp4"> 
                                               </video>  
                                           </div>  
                                           <div class="col-md-6 align-items-center justify-content-center d-flex" id="filesInfo" class="list-group">
                                            <embed src="{{cont.2}}" type="application/pdf" width="100%" height="100%">
                                           </div>
                                           <div class="d-flex justify-content-end mt-4 p-3">
                                            <button class="btn btn-danger me-5" style="width: 150px; border-radius: 15px;">Eliminar</button>
                                        </div>
                                        </div>
                                        
                                                                        
                                        {% endfor %}
                                    
                            
                               
                                <div class="d-flex justify-content-end p-4">
                                    <button class="btn btn-success me-5" style="width: 150px; border-radius: 15px;"> Editar</button>
                                    <button class="btn btn-danger me-5" style="width: 150px; border-radius: 15px;">Eliminar</button>
                                </div>
                            </div>
                            
                        {% endfor %}
                        <div class="col-md-12" id="form-container" style="display: none;">
                                <form class="row" action="{{url_for('addseccion',curso_id=curso_id)}}" method="POST">
                                     <div class="col-md-2">
                                        <h3>Seccion:</h3>
                                     </div>
                                    <div class="col-md-8 mb-3 row">
                                        <div class="col-ms-10">
                                           <input  class="form-control" type="text" id="section-name" name="section-name" required>
                                        </div>
                
                                        <label class=" form-label mt-4" for="section-description">
                                            Que podran hacer los estudiantes en esta seccion?
                                        </label>
                                        <div class="col-ms-10">
                                           <textarea class="form-control" id="section-description" name="section-description" style="resize: none;" rows="5"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex justify-content-end" >
                                        <button class="btn btn-danger me-5" type="button" style="width: 150px; border-radius: 15px;">Cancelar</button>
                                        <button class="btn btn-success me-5" type="submit" style="width: 150px; border-radius: 15px;">Guardar</button>
                                    </div>    
                                </form>   
                                
                        </div>
                       
                        <div class="">
                            <button class="btn btn-success" id="add-section-btn" style="width: 150px; border-radius: 10px;"> <span>+</span>Añadir Sección </button>
                        </div>
                   
                </div> 
         </div>

    </div>
    <script>
        document.getElementById("add-section-btn").addEventListener("click", function() {
          document.getElementById("form-container").style.display = "block"; // Muestra el formulario
        });
        document.querySelectorAll(".add-file-btn").forEach(button => {
            button.addEventListener("click", function() {
                var formId = this.getAttribute("data-target"); // Obtiene el ID del formulario correspondiente
                document.getElementById(formId).style.display = "block"; // Muestra el formulario correspondiente
            });
        });

    </script>
    <script>
        // Función para actualizar el texto del archivo seleccionado
        function updateFileName(inputId, displayId) {
            const input = document.getElementById(inputId);
            const display = document.getElementById(displayId);
            const file = input.files[0];
            if (file) {
                display.textContent = file.name;
            } else {
                display.textContent = "Ningún archivo seleccionado";
            }
        }

        document.getElementById('videoFile').addEventListener('change', function() {
            updateFileName('videoFile', 'videoFileName');
        });

        // Actualizar el nombre del archivo seleccionado cuando cambia el archivo de presentación
        document.getElementById('presentationFile').addEventListener('change', function() {
            updateFileName('presentationFile', 'presentationFileName');
        });
    </script>
</body>
</html>

