<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Alalay</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="stylesheet" href="/static/css/addArchivo.css">     
     <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
     <link rel="stylesheet" href="/static/css/editor.css"> 
</head>
<body>
    <div class="nav-bar bg-success d-flex justify-content-between align-items-center">
        <div>
            <a class="navbar-brand text-white" href="{{url_for('landing')}}">Campus alalay</a>
        </div>
        <div class="d-flex justify-content-center flex-grow-1">
            <div class="nav-links">
                <a href="#">Inicio</a>
                <a href="{{ url_for('listar_cursos') }}">Cursos</a>
                <a href="#">Comunidad</a>
            </div>
        </div>
        <div>
            <a href="{{ url_for('perfildocente') }}" class="d-flex">
                <img src="{{ url_for('static', filename='archivos/user.png') }}" alt="Usuario" style="width: 30px;">
            </a>
        </div>
    </div>

    <div class="container my-4 primer-contenedor">
        <h3><h3>{{ unidad[1] }}</h3></h3>
        <div class="container my my-5 segundo-contenedor">
            <div class="form-group">
                <label>1. Escoge un video</label>
                <div class="d-flex align-items-center"> <!-- Div envolvente para alinear los elementos en la misma línea -->
                    <div class="input-group" style="width: 1000px;"> <!-- Establecer el ancho deseado para el form-control -->
                        <div class="form-control form-control-sm" id="videoFileName">Ningún archivo seleccionado</div>
                        <input type="file" id="videoFile" accept="video/mp4, video/x-matroska">
                    </div>
                    <button type="button" class="btn btn-success ms-2 fixed-width-button" id="videoFileButton" onclick="document.getElementById('videoFile').click()">Seleccionar Archivo</button>
                </div>
                <small class="form-text text-muted">Nota: Todos los archivos deben tener al menos 720p y pesar menos de 4 GB.</small>
            </div>
            
            <div class="form-group">
                <label>2. Escoge una presentación</label>
                <div class="d-flex align-items-center"> 
                    <div class="input-group" style="width: 1000px;">  
                        <div class="form-control form-control-sm" id="presentationFileName">Ningún archivo seleccionado</div>
                        <input type="file" id="presentationFile" style="display: none;" accept=".pdf,.docx,.docxf,.odt,.xlsx,.pptx,.html">
                    </div>
                    <button type="button" class="btn btn-success ms-2 fixed-width-button" id="presentationFileButton" onclick="document.getElementById('presentationFile').click()">Seleccionar Archivo</button>
                </div>
                <small class="form-text text-muted">Nota: Una presentación significa diapositivas (ej: PowerPoint, Keynote). Las diapositivas son una excelente manera de combinar texto e imágenes para explicar conceptos de manera eficaz y efectiva.</small>
            </div>            
            <label>3.- texto</label>
            <div class="container">
                <div class="toolbar">
                    <div class="head">
                        <input type="text" placeholder="Filename" value="untitled" id="filename">
                        <select onchange="fileHandle(this.value); this.selectedIndex=0">
                            <option value="" selected="" hidden="" disabled="">File</option>
                            <option value="new">New file</option>
                            <option value="txt">Save as txt</option>
                            <option value="pdf">Save as pdf</option>
                        </select>
                        <select onchange="formatDoc('formatBlock', this.value); this.selectedIndex=0;">
                            <option value="" selected="" hidden="" disabled="">Format</option>
                            <option value="h1">Heading 1</option>
                            <option value="h2">Heading 2</option>
                            <option value="h3">Heading 3</option>
                            <option value="h4">Heading 4</option>
                            <option value="h5">Heading 5</option>
                            <option value="h6">Heading 6</option>
                            <option value="p">Paragraph</option>
                        </select>
                        <select onchange="formatDoc('fontSize', this.value); this.selectedIndex=0;">
                            <option value="" selected="" hidden="" disabled="">Font size</option>
                            <option value="1">Extra small</option>
                            <option value="2">Small</option>
                            <option value="3">Regular</option>
                            <option value="4">Medium</option>
                            <option value="5">Large</option>
                            <option value="6">Extra Large</option>
                            <option value="7">Big</option>
                        </select>
                        <div class="color">
                            <span>Color</span>
                            <input type="color" oninput="formatDoc('foreColor', this.value); this.value='#000000';">
                        </div>
                        <div class="color">
                            <span>Background</span>
                            <input type="color" oninput="formatDoc('hiliteColor', this.value); this.value='#000000';">
                        </div>
                    </div>
                    <div class="btn-toolbar">
                        <button onclick="formatDoc('undo')"><i class='bx bx-undo' ></i></button>
                        <button onclick="formatDoc('redo')"><i class='bx bx-redo' ></i></button>
                        <button onclick="formatDoc('bold')"><i class='bx bx-bold'></i></button>
                        <button onclick="formatDoc('underline')"><i class='bx bx-underline' ></i></button>
                        <button onclick="formatDoc('italic')"><i class='bx bx-italic' ></i></button>
                        <button onclick="formatDoc('strikeThrough')"><i class='bx bx-strikethrough' ></i></button>
                        <button onclick="formatDoc('justifyLeft')"><i class='bx bx-align-left' ></i></button>
                        <button onclick="formatDoc('justifyCenter')"><i class='bx bx-align-middle' ></i></button>
                        <button onclick="formatDoc('justifyRight')"><i class='bx bx-align-right' ></i></button>
                        <button onclick="formatDoc('justifyFull')"><i class='bx bx-align-justify' ></i></button>
                        <button onclick="formatDoc('insertOrderedList')"><i class='bx bx-list-ol' ></i></button>
                        <button onclick="formatDoc('insertUnorderedList')"><i class='bx bx-list-ul' ></i></button>
                        <button onclick="addLink()"><i class='bx bx-link' ></i></button>
                        <button onclick="formatDoc('unlink')"><i class='bx bx-unlink' ></i></button>
                        <button id="show-code" data-active="false">&lt;/&gt;</button>
                    </div>
                </div>
                <div id="content" contenteditable="true" spellcheck="false">
                </div>
            </div>
            <div class="d-flex justify-content-end mt-2">
                <button type="button" class="btn btn-danger me-3" style="width: 150px; border-radius: 15px;" data-bs-toggle="modal" data-bs-target="#cancelModal">Cancelar</button>
                <button type="submit" class="btn btn-success" style="width: 150px; border-radius: 15px;">Finalizar</button>
            </div>
                <!-- Modal -->
                <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cancelModalLabel">Confirmación</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Estás seguro de cancelar el registro?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" style="border-radius: 10px;" onclick="window.history.back();">Sí, quiero cancelar</button>
                                <button type="button" class="btn btn-success" style="border-radius: 10px;" data-bs-dismiss="modal">Seguir Registrando</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <script>
        // Función para actualizar el texto del botón y validar el tipo de archivo
        function updateFileNameAndValidate(inputId, displayId, buttonId, acceptedTypes, newButtonText) {
            const input = document.getElementById(inputId);
            const display = document.getElementById(displayId);
            const button = document.getElementById(buttonId);
            const file = input.files[0];
            
            if (file) {
                // Verificar si el tipo de archivo es válido
                const fileType = file.type;
                const isValidType = acceptedTypes.some(type => fileType === type);
                if (!isValidType) {
                    alert('El archivo seleccionado no es del tipo permitido.');
                    // Limpiar el valor del campo de entrada para que el usuario tenga que seleccionar un nuevo archivo
                    input.value = '';
                    display.textContent = "Ningún archivo seleccionado";
                    return;
                }
                
                // Actualizar el nombre del archivo seleccionado
                display.textContent = file.name;
                // Cambiar el texto del botón
                button.textContent = newButtonText;
            } else {
                display.textContent = "Ningún archivo seleccionado";
                // Restaurar el texto del botón si no hay archivo seleccionado
                button.textContent = "Seleccionar Archivo";
            }
    
            // Verificar el tamaño del archivo si es un video
            if (inputId === 'videoFile') {
                if (file) {
                    // Verificar el tamaño del archivo (en bytes)
                    const fileSizeInBytes = file.size;
                    // Convertir el tamaño del archivo a gigabytes
                    const fileSizeInGB = fileSizeInBytes / (1024 * 1024 * 1024);
                    if (fileSizeInGB > 4) {
                        alert('El archivo seleccionado es demasiado grande. El tamaño máximo permitido es de 4 GB.');
                        input.value = '';
                        display.textContent = "Ningún archivo seleccionado";
                        button.textContent = "Seleccionar Archivo";
                        return; // Bloquea la subida del archivo
                    }       
                    // Crear un objeto de tipo video para obtener la resolución
                    const video = document.createElement('video');
                    video.preload = 'metadata';
                    video.onloadedmetadata = function() {
                        window.URL.revokeObjectURL(video.src);
                        // Obtener la resolución del video
                        const videoWidth = this.videoWidth;
                        const videoHeight = this.videoHeight;
                        if (videoWidth > 1280 || videoHeight > 720) { // Verificar si la resolución excede los límites
                            alert('El video seleccionado tiene una resolución mayor a 720p.');
                            input.value = '';
                            display.textContent = "Ningún archivo seleccionado";
                            button.textContent = "Seleccionar Archivo";
                            return; // Bloquea la subida del archivo
                        }
                        // Si el archivo cumple con todos los requisitos, no hace falta bloquear la subida
                        // Podemos dejar que continúe el flujo normalmente
                    };
                    video.src = URL.createObjectURL(file);
                }
            }
        }
    
        document.getElementById('videoFile').addEventListener('change', function() {
            updateFileNameAndValidate('videoFile', 'videoFileName', 'videoFileButton', ['video/mp4', 'video/x-matroska'], 'Subir otro');
        });
    
        document.getElementById('presentationFile').addEventListener('change', function() {
            updateFileNameAndValidate('presentationFile', 'presentationFileName', 'presentationFileButton', ['application/pdf', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/vnd.openxmlformats-officedocument.presentationml.presentation', 'application/vnd.oasis.opendocument.text', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'text/html'], 'Subir otro');
        });
    </script>
    
    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/editor.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
      

</body>
</html>

