<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Archivo</title>
    <link rel="icon" href="/static/archivos/logo.jpg" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="stylesheet" href="/static/css/addArchivo.css">     
     <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
     <link rel="stylesheet" href="/static/css/editor.css"> 
     <link rel="stylesheet" href="/static/css/logo1.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand fs-2 d-flex align-items-center" href="{{ url_for('landing') }}">
                <img src="/static/archivos/logo.jpg" alt="logo" class="logo-image">
                Campus Alalay
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fs-3" aria-current="page" href="{{url_for('perfildocente')}}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="{{ url_for('listar_cursos') }}">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="#">Comunidad</a>
                    </li>
                </ul>
                <!-- User Icon -->
                <a href="{{ url_for('index') }}" class="d-flex">
                    <img src="{{ url_for('static', filename='archivos/user.png') }}" alt="Usuario" style="width: 30px;">
                </a>
            </div>
        </div>
    </nav>
    <div class="container my-1  primer-contenedor">
        <h1>Unidad: {{ unidad[1] }}</h1>
        <div class="container my my-2 segundo-contenedor">
            <form id="contenidoForm" enctype="multipart/form-data"></form>
                <div class="form-group">
                    <label>1. Escoge un video</label>
                    <div class="d-flex align-items-center">
                        <div class="input-group" style="width: 1000px;">
                            <div class="form-control form-control-sm" id="videoFileName">Ningún archivo seleccionado</div>
                            <input type="file" id="videoFile" name="videoFile" accept="video/mp4, video/x-matroska">
                        </div>
                        <button type="button" class="btn btn-success ms-2 fixed-width-button" id="videoFileButton" onclick="document.getElementById('videoFile').click()">Seleccionar Archivo</button>
                    </div>
                    <small class="form-text" style="color: rgb(223, 148, 148);">Nota: Todos los videos deben tener menos de 720p y pesar menos de 4 GB.</small>
                </div>
            
                <div class="form-group">
                    <label>2. Escoge una presentación o documento</label>
                    <div class="d-flex align-items-center">
                        <div class="input-group" style="width: 1000px;">
                            <div class="form-control form-control-sm" id="presentationFileName">Ningún archivo seleccionado</div>
                            <input type="file" id="presentationFile" name="presentationFile" style="display: none;" accept=".pdf,.docx,.odt,.xlsx,.pptx">
                        </div>
                        <button type="button" class="btn btn-success ms-2 fixed-width-button" id="presentationFileButton" onclick="document.getElementById('presentationFile').click()">Seleccionar Archivo</button>
                    </div>
                    <small class="form-text" style="color: rgb(223, 148, 148);">Nota:Se permiten los siguientes formatos de archivo:PPTX, docxf, PDF, XLSX</small>
                </div>    
            <label>3.- texto</label>
            <div class="container">
                <div class="toolbar">
                    <div class="head">
                        <div>
                            <button onclick="clearContent()">Limpiar</button>
                        </div>
                        <select id="fontSizeSelector" onchange="formatDoc('fontSize', this.value); showSelectedTextSize()">
                            <option value="" selected disabled hidden>tamaño de texto</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                        <div class="color">
                            <span>Color</span>
                            <input type="color" oninput="formatDoc('foreColor', this.value); this.value='#000000';">
                        </div>
                        <div class="color">
                            <span>Background</span>
                            <input type="color" oninput="formatDoc('hiliteColor', this.value); this.value='#000000';">
                        </div>
                    </div>
                    <div class="btn-toolbar">
                        <button onclick="formatDoc('undo')"><i class='bx bx-undo' ></i></button>
                        <button onclick="formatDoc('redo')"><i class='bx bx-redo' ></i></button>
                        <button onclick="formatDoc('bold')"><i class='bx bx-bold'></i></button>
                        <button onclick="formatDoc('underline')"><i class='bx bx-underline' ></i></button>
                        <button onclick="formatDoc('italic')"><i class='bx bx-italic' ></i></button>
                        <button onclick="formatDoc('strikeThrough')"><i class='bx bx-strikethrough' ></i></button>
                        <button onclick="formatDoc('justifyLeft')"><i class='bx bx-align-left' ></i></button>
                        <button onclick="formatDoc('justifyCenter')"><i class='bx bx-align-middle' ></i></button>
                        <button onclick="formatDoc('justifyRight')"><i class='bx bx-align-right' ></i></button>
                        <button onclick="formatDoc('justifyFull')"><i class='bx bx-align-justify' ></i></button>
                        <button onclick="formatDoc('insertOrderedList')"><i class='bx bx-list-ol' ></i></button>
                        <button onclick="formatDoc('insertUnorderedList')"><i class='bx bx-list-ul' ></i></button>
                        <button onclick="addLink()"><i class='bx bx-link' ></i></button>
                        <button id="show-code" data-active="false">&lt;/&gt;</button>
                    </div>
                </div>
                <div id="content" contenteditable="true" spellcheck="false"></div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <small class="form-text flex-grow: 1;">Nota: Al menos debe subir un tipo de archivo o texto </small>
                <div>
                    <button type="button" class="btn btn-danger me-3" style="width: 150px; border-radius: 15px;" onclick="mostrarModalCancelacion()">Cancelar</button>
                    <button type="button" class="btn btn-success" style="width: 150px; border-radius: 15px;" onclick="guardarContenido()">Finalizar</button>
                </div>
            </div>
                                   
            <input type="hidden" id="codUnidad" name="codUnidad" value="{{ unidad[0] }}">
        </form>
        
                <!-- Modal -->
                <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cancelModalLabel">Confirmación</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Estás seguro de cancelar?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" style="border-radius: 10px;" onclick="window.history.back();">Sí, quiero cancelar</button>
                                <button type="button" class="btn btn-success" style="border-radius: 10px;" data-bs-dismiss="modal">Seguir Registrando</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Modal de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                  </div>
            <div class="modal-body">
                Material agregado correctamente a la unidad {{ unidad[1] }} 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" style="border-radius: 10px;" onclick="window.history.back();" >Aceptar</button>
            </div>
        </div>
    </div>
</div>


    <script>
        // Función para actualizar el texto del botón y validar el tipo de archivo
        function updateFileNameAndValidate(inputId, displayId, buttonId, acceptedTypes, newButtonText) {
            const input = document.getElementById(inputId);
            const display = document.getElementById(displayId);
            const button = document.getElementById(buttonId);
            const file = input.files[0];
            
            if (file) {
                // Verificar si el tipo de archivo es válido
                const fileType = file.type;
                const isValidType = acceptedTypes.some(type => fileType === type);
                if (!isValidType) {
                    alert('El archivo seleccionado no es del tipo permitido.');
                    // Limpiar el valor del campo de entrada para que el usuario tenga que seleccionar un nuevo archivo
                    input.value = '';
                    display.textContent = "Ningún archivo seleccionado";
                    return;
                }
                
                // Actualizar el nombre del archivo seleccionado
                display.textContent = file.name;
                // Cambiar el texto del botón
                button.textContent = newButtonText;
            } else {
                display.textContent = "Ningún archivo seleccionado";
                // Restaurar el texto del botón si no hay archivo seleccionado
                button.textContent = "Seleccionar Archivo";
            }
    
            // Verificar el tamaño del archivo si es un video
            if (inputId === 'videoFile') {
                if (file) {
                    // Verificar el tamaño del archivo (en bytes)
                    const fileSizeInBytes = file.size;
                    // Convertir el tamaño del archivo a gigabytes
                    const fileSizeInGB = fileSizeInBytes / (1024 * 1024 * 1024);
                    if (fileSizeInGB > 4) {
                        alert('El archivo seleccionado es demasiado grande. El tamaño máximo permitido es de 4 GB.');
                        input.value = '';
                        display.textContent = "Ningún archivo seleccionado";
                        button.textContent = "Seleccionar Archivo";
                        return; // Bloquea la subida del archivo
                    }       
                    // Crear un objeto de tipo video para obtener la resolución
                    const video = document.createElement('video');
                    video.preload = 'metadata';
                    video.onloadedmetadata = function() {
                        window.URL.revokeObjectURL(video.src);
                        // Obtener la resolución del video
                        const videoWidth = this.videoWidth;
                        const videoHeight = this.videoHeight;
                        if (videoWidth > 1280 || videoHeight > 1080) { // Verificar si la resolución excede los límites
                            alert('El video seleccionado tiene una resolución mayor a 1080.');
                            input.value = '';
                            display.textContent = "Ningún archivo seleccionado";
                            button.textContent = "Seleccionar Archivo";
                            return; // Bloquea la subida del archivo
                        }
                        // Si el archivo cumple con todos los requisitos, no hace falta bloquear la subida
                        // Podemos dejar que continúe el flujo normalmente
                    };
                    video.src = URL.createObjectURL(file);
                }
            }
        }
    
        document.getElementById('videoFile').addEventListener('change', function() {
            updateFileNameAndValidate('videoFile', 'videoFileName', 'videoFileButton', ['video/mp4', 'video/x-matroska'], 'Subir otro');
        });
    
        document.getElementById('presentationFile').addEventListener('change', function() {
            updateFileNameAndValidate('presentationFile', 'presentationFileName', 'presentationFileButton', ['application/pdf', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/vnd.openxmlformats-officedocument.presentationml.presentation', 'application/vnd.oasis.opendocument.text', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'text/html'], 'Subir otro');
        });

    </script>
    <script>
        function guardarContenido() {
            const contenidoHTML = document.getElementById('content').innerHTML;
            const videoFile = document.getElementById('videoFile').files[0];
            const presentationFile = document.getElementById('presentationFile').files[0];
            const codUnidad = document.getElementById('codUnidad').value;
        
            const formData = new FormData();
        
            if (videoFile) {
                formData.append('videoFile', videoFile);
            }
        
            if (presentationFile) {
                formData.append('presentationFile', presentationFile);
            }
        
            if (contenidoHTML.trim() !== '') {
                formData.append('contenidoHTML', contenidoHTML);
            }
        
            formData.append('codUnidad', codUnidad);
        
            fetch('/add1', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    $('#cancelModal').modal('hide'); // Oculta el modal de confirmación
                    $('#successModal').modal('show'); // Muestra el modal de éxito
                } else {
                    alert('ERROR, seleccione al menos un tipo de archivo');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                    alert('Ocurrió un error al guardar el contenido.2');
            });
        }
        function hayDatos() {
        const contenidoHTML = document.getElementById('content').innerHTML.trim();
        const videoFile = document.getElementById('videoFile').files[0];
        const presentationFile = document.getElementById('presentationFile').files[0];

        return contenidoHTML !== '' || videoFile || presentationFile;
    }

    // Función modificada para manejar el modal de cancelación
    function mostrarModalCancelacion() {
        if (hayDatos()) {
            // Hay datos, mostrar el modal de cancelación
            $('#cancelModal').modal('show');
        } else {
            // No hay datos, volver atrás directamente
            window.history.back();
        }
    }
        </script>
        
    
    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/editor.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
      

</body>
</html>

