<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="/static/css/editar_perfil.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand fs-2" href="{{url_for('landing')}}" >Campus alalay</a>
            
            <!-- Toggler for mobile view -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link  fs-3" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link fs-3" href="{{ url_for('listar_cursos') }}">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="#">Comunidad</a>
                    </li>
                </ul>
                <!-- User Icon -->
                <a href="{{ url_for('perfildocente') }}" class="d-flex">
                    <img src="{{ url_for('static', filename='archivos/user.png') }}" alt="Usuario" style="width: 30px;">
                </a>
            </div>
        </div>
    </nav>
    <div class="d-flex mt-4 align-items-center justify-content-center">
        <div class="container col-md-10 p-5  m-3 shadow-lg" style=" border-radius: 15px;">
            <div class="text-center">
                <h1 class="my-custom-heading">Editar Perfil</h1>
            </div>
            <div class="row p-3">
                <div class="col-md-4 align-items-start justify-content-center d-flex" style="background: ;">
                    <div class="text-center">
                        <div class=" imagen-circular text-center">
                            <img src="{{docente[6]}}" alt="imagen">
                        </div>
                        <div class="text-center">
                          <h3>{{docente[1]}}</h3>
                          <h4>{{docente[2]}}</h4>
                        </div>
                          
      
                    </div>
                    
                </div>
                <div class="col-md-8 "> 
                    <form class="row gap-2" action="/upload_editar" id="formularioRegistro" method="POST" enctype="multipart/form-data">
                       <div class="col-md-12">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" value="{{docente[1]}}" required>
                        <div class="error-message" id="error-nombre"><span class="error-icon">&#9888;</span> Por favor ingresa tu nombre</div>
                       </div> 

                       <div class="col-md-12">
                        <label for="correo">Correo electrónico:</label>
                        <input type="email" id="email" name="email" value="{{docente[2]}}" required>
                       </div>

                       <div class="col-md-12">
                        <label for="pais">País:</label>
                        <select id="pais" name="pais" id="pais">
                            <!-- Opciones predefinidas -->
                            <option value="{{docente[5]}}">{{docente[5]}}</option>
                            <!-- Opciones de países de América generadas dinámicamente -->
                        </select>
                        <div class="error-message" id="error-pais"><span class="error-icon">&#9888;</span> Por favor selecciona tu país</div> 
                       </div>
                        
                       <br>
                       <div class="col-md-12">
                        <label for="pais">Cambiar Imagen</label>
                        <div class="container2" id="drop-area">
                            <input type="file" id="file_image" name="file_image" accept=".jpg, .jpeg, .png" style="display: none;">
                            <div class="img-area">
                              <img src="{{docente[6]}}" alt="imagen">
                            </div>
                            <button type="button" class="select-image bg-success">Cambiar Foto</button>
                          </div>
                       </div>                        
                        <!-- Otros campos de perfil que desees editar -->
                        <div class="text-center mt-4">
                          <button type="button" class="btn btn-danger btn-block btn-lg me-4" style="border-radius: 30px; font-size: 20px;" id="cancelButton">Cancelar</button>
                            <button type="submit" id="guardar" class="btn btn-success btn-block btn-lg me-4" style="border-radius: 30px; font-size: 20px;">Guardar Cambios</button>
                        </div>
                            
                    </form>
         <!--Modal para el boton de cancelar-->
         <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelModalLabel">Confirmación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de cancelar registro?
                    </div>
                    <div class="modal-footer gap-2">
                        <button type="button" class="btn btn-danger" style="border-radius: 10px;" onclick="location.href='/perfil'">Si, quiero cancelar</button>
                        <button type="button" class="btn btn-success" style="border-radius: 10px;" data-bs-dismiss="modal">Seguir Registrando</button>
                    </div>
                </div>
            </div>
           </div>

                </div>


            </div>
            

        </div>
      
    </div>
    
<!-- Modal de confirmación -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              ¿Estás seguro de que deseas guardar los cambios de tu perfil?
          </div>
          <div class="modal-footer gap-2">
              <button type="button" class="btn btn-danger" style="border-radius: 10px;" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" style="border-radius: 10px;" id="confirmButton">Sí</button>
          </div>
      </div>
  </div>
</div>


    <script>
        document.getElementById('cancelButton').addEventListener('click', function(event) {
            event.preventDefault();
        
            const nombre = document.getElementById('nombre').value;
            const email = document.getElementById('email').value;
            const pais = document.getElementById('pais').value;
            const Foto = document.getElementById('file_image');
            const docente = JSON.parse('{{ docente | tojson | safe }}');
        
            const noChanges = (docente[1] === nombre &&
                               docente[2] === email &&
                               docente[5] === pais &&
                               Foto.files.length === 0);
        
            if (noChanges) {
                window.location.href = '/perfil';
            } else {
                const cancelModal = new bootstrap.Modal(document.getElementById('cancelModal'));
                cancelModal.show();
            }
        });

    </script>
    <script>
     document.getElementById('guardar').addEventListener('click', function(event) {
     // Previene el comportamiento predeterminado del botón para evitar el envío del formulario
     const nombre = document.getElementById('nombre');
     const email = document.getElementById('email');
     const pais = document.getElementById('pais');
     const Foto= document.getElementById('file_image');
     const docente=JSON.parse('{{ docente | tojson | safe }}');

     

     // Muestra el modal de confirmación
    
     if(docente[1]===nombre.value&&docente[2]===email.value&&docente[5]===pais.value&&Foto.files.length===0){
          document.getElementById('formularioRegistro').submit();
     }else{
      event.preventDefault();
      var confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
      confirmModal.show();

     // Cuando se haga clic en el botón "Sí" del modal de confirmación
     document.getElementById('confirmButton').addEventListener('click', function() {
        // Envía el formulario
        document.getElementById('formularioRegistro').submit();
     });
     }
     
});
    
    </script>

    <script>
      document.getElementById('formularioRegistro').addEventListener('submit', function(event) {
          const imagenInput = document.getElementById('file_image');
          const imagen = imagenInput.files[0];

          // Reset custom validity messages
          imagenInput.setCustomValidity('');

          if (imagen) {
              const validTypes = ['image/jpeg', 'image/jpg', 'image/png'];
              const maxSizeInBytes = 2 * 1024 * 1024; // 2 MB

              if (!validTypes.includes(imagen.type)) {
                  imagenInput.setCustomValidity('Solo se permiten imágenes en formato JPG, JPEG o PNG.');
              } else if (imagen.size > maxSizeInBytes) {
                  imagenInput.setCustomValidity('El tamaño de la imagen no debe exceder los 2 MB.');
              }
          }

          if (!imagenInput.checkValidity()) {
              event.preventDefault(); // Previene el envío del formulario si hay errores
              imagenInput.reportValidity(); // Muestra los errores de validación
          }
      });
  </script>
    
<script>
    // Función para validar el campo del título en tiempo real
  function validarTitulo() {
    var tituloInput = document.getElementById("nombre");
    var tituloAlert = document.getElementById("titulo-alert");
    var tituloValue = tituloInput.value;
    const nombres = JSON.parse('{{ nombres | tojson | safe }}');
    const docente=JSON.parse('{{ docente | tojson | safe }}');
      console.log('Datos recibidos:', nombres);
      var indice = nombres.indexOf(tituloValue);
    // Validamos el título con la expresión regular
    if (!/^[\p{L}\s'-]*$/u.test(tituloValue)) {
        tituloInput.setCustomValidity("Título inválido, caracteres no permitidos");
    } else if(tituloValue.length>30){
      tituloInput.setCustomValidity("Se llego al limite de caracteres"); 
    }else if(indice!==-1&&docente[1]!==tituloValue){
      tituloInput.setCustomValidity("Usuario ya se encuantra ya registrado");
    }else{
      tituloInput.setCustomValidity("")
    }
    tituloInput.reportValidity(); // Mostramos el mensaje de alerta en tiempo real
  }
 // Llamamos a validarTitulo en cada cambio en el campo de entrada del título
document.getElementById("nombre").addEventListener("input", validarTitulo);
 
function validarEmail(){
  const emailImput = document.getElementById('email');
  const emailValue = emailImput.value;
  const correos = JSON.parse('{{ correos | tojson | safe }}');
  console.log(correos)
  const indice = correos.indexOf(emailValue);

  if(!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(emailValue)){
       emailImput.setCustomValidity('Por favor introduce un correo electrónico válido.');
  }else if(indice!==-1){
       emailImput.setCustomValidity("El correo electronico ya se encuentra registrado");
  }else {
      emailImput.setCustomValidity("");
  }
  email.reportValidity();
}

document.getElementById('email').addEventListener('input', validarEmail);
  
</script>

<script>
            document.addEventListener('DOMContentLoaded', function() {
              let dropArea = document.getElementById('drop-area');
            
              ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, preventDefaults, false);
              });
            
              function preventDefaults(e) {
                e.preventDefault();
                e.stopPropagation();
              }
            
              ['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, () => dropArea.classList.add('highlight'), false);
              });
            
              ['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, () => dropArea.classList.remove('highlight'), false);
              });
            
              dropArea.addEventListener('drop', handleDrop, false);
            
              function handleDrop(e) {
                let dt = e.dataTransfer;
                let files = dt.files;
                handleFiles(files);
              }
            
              function handleFiles(files) {
                files = [...files];
                files.forEach(previewFile);
              }
            
              function previewFile(file) {
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onloadend = function() {
                  let img = document.createElement('img');
                  img.src = reader.result;
                  document.querySelector('.img-area').appendChild(img);
                }
              }
            
              const inputFile = document.getElementById('file_image');
              inputFile.addEventListener('change', function(e) {
                handleFiles(e.target.files);
              });
            
              const selectImageBtn = document.querySelector('.select-image');
              selectImageBtn.addEventListener('click', function() {
                inputFile.click();
              });
            });
</script>

<script>
        // Lista de países de América
        var paisesAmerica = [
            "Argentina", "Bolivia", "Brasil", "Canadá", "Chile", "Colombia", "Costa Rica",
            "Cuba", "Ecuador", "El Salvador", "Estados Unidos", "Guatemala", "Honduras",
            "México", "Nicaragua", "Panamá", "Paraguay", "Perú", "República Dominicana",
            "Uruguay", "Venezuela"
        ];

        // Función para agregar opciones de países al ComboBox
        function agregarPaises() {
            var selectPais = document.getElementById("pais");
            paisesAmerica.forEach(function(pais) {
                var option = document.createElement("option");
                option.text = pais;
                if(selectPais.value!==pais){
                  selectPais.add(option);
                }
            });
        }

        // Llama a la función para agregar países cuando la página se cargue
        window.onload = function() {
            agregarPaises();
        };

        function allowDrop(event) {
            event.preventDefault();
        }

        function drop(event) {
            event.preventDefault();
            var files = event.dataTransfer.files;
            fileSelected(files[0]);
        }

        function fileSelected(file) {
            var preview = document.getElementById('preview');
            var fileInput = document.getElementById('file_input');

            if (file) {
                var reader = new FileReader();
                reader.onload = function(event) {
                    preview.src = event.target.result;
                    preview.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
            else if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function(event) {
                    preview.src = event.target.result;
                    preview.style.display = 'block';
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
