<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Modern Login Page | AsmrProg</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Create Account</h1>
                
                
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password"> 
                <button>Sign Up</button>
                <div class="social-icons">
                    <a href="#" ><i class='bx bxl-google icon'></i>Inicia con Google </a>
                </div>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>Iniciar Sesion</h1>   
                <input type="email" placeholder="Usuario">
                <input type="password" placeholder="Contraseña">
                <select name="rol" id="rol">
                    <option value="Estudiante">Estudiante</option>
                    <option value="Docente">Docente</option>
                    <option value="Adminitrador">Administrador</option>
             </select>
             <button>Iniciar Sesion</button>
                <a href="#">Olvidaste tu constraseña?</a>
                <div class="social-icons">
                    <a href="#" ><i class='bx bxl-google icon'></i>Inicia con Google </a>
                </div>
               
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Comienza tu aprendizaje</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden " id="login">Iniciar Sesion</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Comienza tu aprendizaje</h1>
                    <p>Si aun no tienes cuenta registrate y diviertete</p>
                    <button class="hidden" id="register">Registrate</button>
                </div>
            </div>
        </div>
    </div>

<script>
  const container = document.getElementById('container');
  const registerBtn = document.getElementById('register');
  const loginBtn = document.getElementById('login');

  registerBtn.addEventListener('click', () => {
    container.classList.add("active");
  });

  loginBtn.addEventListener('click', () => {
    container.classList.remove("active");
  });
    </script>
</body>

</html>