<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="Y170785774709-1gohancc7g0pfhu7url7u49cepcq3bs3.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <title>Inicio Sesión</title>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="registerForm" method="post" action="/register" onsubmit="return validateForm()">
                <h1>Registrate</h1>
                <input type="text" id="username" name="name" placeholder="Nombre de usuario" required>
                <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
                <div class="password-container">
                    <span id="toggle-password-register" class="toggle-password"><i class="fa-regular fa-eye-slash"></i></span>
                    <input type="password" id="password-register" name="password" placeholder="Contraseña" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" title="La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula y un número" required>
                </div>
                <button type="submit">Registrarme</button>
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-google icon'></i>Iniciar Sesión con Google</a>
                </div>
            </form>
            
        </div>
        <div class="form-container sign-in">
            <form  id="inicio_sesion" action="/listar" method="post">
                <h1>Iniciar Sesión</h1>
                <input id="usuario" name="usuario" type="text" placeholder="Usuario">
                <div class="password-container">
                    <span id="toggle-password" class="toggle-password"><i class="fa-regular fa-eye-slash"></i></span>
                    <input type="password" id="password-login" name="password-login" placeholder="Contraseña">
                </div>
                <select name="rol" id="rol">
                    <option value="Estudiante">Estudiante</option>
                    <option value="Docente">Docente</option>
                </select>
                <button type="submit" id="submit-login" >Iniciar Sesión</button>
                <a href="#">Olvidaste tu constraseña?</a>
                <div class="social-icons">
                    <a href="#" id="login_google"><i class='bx bxl-google icon'></i>Iniciar Sesión con Google</a>
                </div>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <img src="/static/archivos/logo.jpg" alt="Logo" class="logo-image">
                    <h1>COMIENZA TU APRENDIZAJE AHORA</h1>
                    <p>Ya tengo una cuenta</p>
                    <button class="hidden" id="login">Iniciar Sesión</button>
                </div>                
                <div class="toggle-panel toggle-right">
                    <img src="/static/archivos/logo.jpg" alt="Logo" class="logo-image">
                    <h1>COMIENZA TU APRENDIZAJE AHORA</h1>
                    <p>Si aun no tienes cuenta, registrate yá!<br>Y ten acceso a mas de 500 cursos virtuales</p>
                    <button class="hidden" id="register">Registrarme</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const formToShow = urlParams.get('form');

        document.addEventListener("DOMContentLoaded", function() {
            if (formToShow === 'register') {
                const container = document.getElementById('container');
                container.classList.add('active');
            }
        });     
    </script>
    <script>
        const usuario = document.getElementById('usuario');
        const password = document.getElementById('password-login');
        const docentes = JSON.parse('{{ docentes | tojson | safe }}');
        const estudiantes=JSON.parse('{{ estudiantes | tojson | safe }}');
        const seleccion = document.getElementById('rol');
   
        document.getElementById("inicio_sesion").onsubmit = function(event){
            let usuarioValido = false;
            let contrasenaValida = false;
            console.log(docentes[0][1])
        if(seleccion.value==='Docente'){
            for (let i = 0; i < docentes.length; i++) {
                if (docentes[i][1] === usuario.value||docentes[i][2]=== usuario.value) {
                    usuarioValido = true;
                    usuario.setCustomValidity("");
                    if (docentes[i][3] === password.value) {
                        contrasenaValida = true;
                        password.setCustomValidity("");
                        break; // Usuario y contraseña correctos, salir del bucle
                    } else {
                        password.setCustomValidity("Contraseña incorrecta");
                    }
                }
            }
        }else if(seleccion.value==='Estudiante'){
            for (let i = 0; i < estudiantes.length; i++) {
                if (estudiantes[i][1] === usuario.value|| estudiantes[i][2]=== usuario.value) {
                    usuarioValido = true;
                    usuario.setCustomValidity("");
                    if (estudiantes[i][4] === password.value) {
                        contrasenaValida = true;
                        password.setCustomValidity("");
                        break; // Usuario y contraseña correctos, salir del bucle
                    } else {
                        password.setCustomValidity("Contraseña incorrecta");
                    }
                }
            }       
        }
            if (!usuarioValido) {
                usuario.setCustomValidity("Usuario incorrecto");
            }

            if (!contrasenaValida && usuarioValido) {
                password.setCustomValidity("Contraseña incorrecta");
            }
        
        

            if (!this.checkValidity()) {
                event.preventDefault(); // Detener el envío del formulario si no es válido
                event.stopPropagation(); // Detener la propagación del evento en el DOM

                // Esta función muestra explícitamente las validaciones del formulario
                this.reportValidity();
            }
        };

        // Añadir event listeners para resetear los mensajes de error al cambiar el contenido del input
        usuario.addEventListener('input', function() {
            usuario.setCustomValidity("");
        });

        password.addEventListener('input', function() {
            password.setCustomValidity("");
        });
    </script>
    <script>

        document.getElementById('rol').addEventListener('change', function() {
            const enlace = document.getElementById('login_google');
            if (this.value !== 'default') {
                enlace.style.display = 'none';
            } else {
                enlace.style.display = 'block';
            }
        });
       

        document.addEventListener("DOMContentLoaded", function() {
            const loginForm = document.getElementById('inicio_sesion');
            const submitButton = document.getElementById('submit-login');
            const roleSelect = document.getElementById('rol');
            const registerButton = document.getElementById('register');
            
            submitButton.addEventListener('click', function(event) {
                if (roleSelect.value === "Docente") {
                    loginForm.action = "/perfil";
                } else {
                    loginForm.action = "/listar";
                }
            });
            
                registerButton.addEventListener('click', function() {
                    if(roleSelect.value === "Docente"){
                    container.classList.remove('active');
                    window.location.href = '/registrar_docente';  // Reemplaza '/tu_referencia' con la URL a la que deseas redirigir
                    }
                });
            
           
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/login.js"></script>
</body>

</html>
