<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title></title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Registrate y comienza a aprender</h1>
                <small>nombre</small>
                <input type="text" placeholder="Name">
                <small>email</small>
                <input type="email" placeholder="Email">
                <small>contraseña</small>
                <input type="password" placeholder="Password">
                <button bg-succes>Registrarme</button>
                <div class="social-icons">
                    <span>o registrese usando su cuenta de</span>
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>iniciar Secion</h1>
                <small>Usuario</small>
                <input type="email" placeholder="correo electronico">
                <small>Contraseña</small>
                <input type="password" placeholder="Password">
                <button>iniciar Secion</button>
                <a href="#">Olvido su contraseña?</a>
                <div class="social-icons">
                    <span>or use your email password</span>
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                </div>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome CAMPUS ALALAY</h1>
                    <p>ya tengo una cuenta</p>
                    <button class="hidden" id="login">Iniciar Secion</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>COMIENZA TU APRENDISAJE AHORA!</h1>
                    <p>Si aun no tienes cuanta registrate, y ten acceso a los cursos</p>
                    <button class="hidden" id="register">Registrame</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/login.js"></script>
</body>

</html>