<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Formulario de Curso</title>
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/stilo1.css')}}"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/Registrar_curso.css">
</head>
<body class=" d-flex  justify-content-center  align-items-center  vh-100">
<div class="col-8 container bg-white p-5 rounded-3 shadow-lg">
  <form class="row g-5 border-dark" id="miFormulario" action="/subir" method="post">
    <div class="flash-messages">
      <h2 class="display-4  fw-bold fs-1  ali text-center" >Registro Curso</h2>
    </div>

    <div class="col-6">
      <label for="titulo" class="form-label">Título:</label>
      <input class="form-control" value="{{titulo}}" type="text" id="titulo" name="titulo" minlength="3" maxlength="60" pattern="^[A-Za-z0-9\s'-,.-]*$" required>
      <!-- Agregamos un elemento <span> para mostrar el mensaje de alerta -->
      <span id="titulo-alert" class="text-danger"></span>
  </div>
      <div class="col-6">
        <label for="cargaHoraria" class="form-label">Carga Horaria:</label>
        <input class="form-control" value="{{cargaHoraria}}" type="number" id="cargaHoraria" name="cargaHoraria" required min="0">
      </div>
      <div class="col-6">
        <label for="categoria" class="form-label">Categoría:</label>
        <select class="form-select"  id="categoria" name="categoria">
          <option value="">Sin Asignar</option>
          {%for categoria in categorias%}
          <option value="{{categoria.1}}" {% if categoria.1 == cat %} selected {% endif %} >{{categoria.1}}</option>
          {% endfor %}
        </select>

      </div>
      <div class="col-6">
        <label for="costo" class="form-label">Costo:</label>
        <input class="form-control" value="{{costo}}" type="number" id="costo" name="costo"  required min="0" max="9000">
      </div>
      <div class="col-6">
        <label for="nivel" class="form-label">Nivel:</label>
        <select class="form-select" id="nivel" name="nivel">
          <option value="">Sin Asignar</option>
          {%for nivel in niveles%}
          <option value="{{nivel.1}}"{% if nivel.1 == niv %} selected {% endif %}>{{nivel.1}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="text-center gap-2   ">
        <!-- <a class ="btn btn-primary btn-lg me-md-5 " href="{{ url_for('index') }}">Cancelar</a> -->
        <button type="button" class="btn  btn-primary  btn-lg me-md-5" data-bs-toggle="modal" data-bs-target="#cancelModal">Cancelar</button>
        <button class ="btn btn-success btn-block btn-lg " type="submit" class="next-btn">Siguiente &gt;</button>
        <div id="mensaje"></div>     
      </div>
  </form>
  <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de cancelar registro?
            </div>
            <div class="modal-footer gap-2">
                <button type="button" class="btn btn-primary" onclick="location.href='/'">Si,quiero cancelar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Seguir Registrando</button>

            </div>
        </div>
    </div>
</div>

</div>
<script>
  // Función para validar el campo del título en tiempo real
  function validarTitulo() {
      var tituloInput = document.getElementById("titulo");
      var tituloAlert = document.getElementById("titulo-alert");
      var tituloValue = tituloInput.value;
      const nombres = JSON.parse('{{ titulos | tojson | safe }}');
      console.log('Datos recibidos:', nombres);
      var indice = nombres.indexOf(tituloValue);
      if (tituloValue.length > 59) {
            tituloInput.setCustomValidity("Se llego al limite de carateres permitidos");
        } else {
            tituloInput.setCustomValidity(""); // Limpiamos la validación personalizada si la longitud es válida
        }
      // Validamos el título con la expresión regular
      if (!/^[\p{L}0-9\s.,'-]*$/u.test(tituloValue)) {
          tituloInput.setCustomValidity("Título inválido, caracteres no permitidos");
      } else if(indice!==-1) {
        tituloInput.setCustomValidity("Título ya se encuentra registrado"); 
      }else{
          tituloAlert.innerText = ""; // Limpiamos el mensaje de alerta si es válido
      }

      tituloInput.reportValidity(); // Mostramos el mensaje de alerta en tiempo real
  }

  // Llamamos a validarTitulo en cada cambio en el campo de entrada del título
  document.getElementById("titulo").addEventListener("input", validarTitulo);
</script>

<script>

   // Llamar a validarCampoNumerico en cada cambio en los campos de entrada
   document.getElementById("costo").addEventListener("input", function() {
    var input = document.getElementById('costo');
    var valor = parseFloat(input.value);
      if (isNaN(valor)||valor <= 0) {      
        input.setCustomValidity("Por favor ingresa un valor válido");
      } else {        
        input.setCustomValidity("");
      }
    // Mostrar el mensaje de validación en tiempo real
    input.reportValidity();
  });

  document.getElementById("cargaHoraria").addEventListener("input", function() {
    var input = document.getElementById('cargaHoraria');
    var valor = parseFloat(input.value);
      if (isNaN(valor)||valor <= 0||valor>360) {  
        if(valor>360){
          input.setCustomValidity("El valor debe ser inferior o igual a 360");
        }else{
          input.setCustomValidity("Por favor ingresa un valor válido");
        }    
        
      } else {        
        input.setCustomValidity("");
      }
    // Mostrar el mensaje de validación en tiempo real
    input.reportValidity();
  });
  
  //para validar las opciones seleccionados
  document.getElementById('miFormulario').onsubmit = function(event) {
    var select = document.getElementById('categoria');
    var select2=document.getElementById('nivel');
    select.setCustomValidity("");
    select2.setCustomValidity("")
    if (select.value === ""||select2.value==="") {
        // Establecer mensaje de validación personalizado
        if(select.value===""){
          select.setCustomValidity("Por favor seleccione una opción válida.");
        }else{
          select2.setCustomValidity("Por favor seleccione una opción válida.");
        }
        
    } else {
        // Limpiar el mensaje de validación personalizado
        if(!select.value===""){
          select.setCustomValidity("");
        }
          select2.setCustomValidity("")
    }

    // Verificar si el formulario es válido antes de enviar
    if (!this.checkValidity()) {
      event.preventDefault(); // Detener el envío del formulario si no es válido
      event.stopPropagation(); // Detiene la propagación del evento en el DOM

      // Esta función muestra explícitamente las validaciones del formulario
      this.reportValidity();
    }
  };
   document.getElementById('nivel').onchange = function() {
    this.setCustomValidity("");
   };
  document.getElementById('categoria').onchange = function() {
    this.setCustomValidity("");
   };
// También es necesario restablecer la validación cuando el usuario cambia la selección
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>