<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Formulario de Curso</title>
<link rel="stylesheet" href="C:\Users\DELL\Desktop\listar\stilo.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class=" d-flex  justify-content-center  align-items-center  vh-100">
<div class=" container bg-white p-5 rounded-3 shadow-lg ">
    <!-- <form class="row g-5 border-dark" id="formularioRegistro" action="/add" method="POST" enctype="multipart/form-data"> -->
      <form class="row g-5 border-dark" id="formularioRegistro" method="POST" >

        <div class="col-4">
          <label for="courseDescription" class="form-label">Descripción del Curso:</label>
          <textarea class="form-control" id="courseDescription" name="courseDescription" rows="10" ></textarea>
        </div>
        
        
        <div class="col-2">
                <input class="form-control bg-transparent" type="file" id="imageInput" name="imageInput" accept="image/*" >
        </div>
        <div class="col-5">
          <img class="rounded float-end"  id="imagePreview" style="display: none; width: 500px; height: 300px;"  alt="Vista previa de la imagen" />
        </div>
        

        <div class="text-center gap-2  ">
            <a class ="btn btn-primary btn-lg me-md-5 " href="{{ url_for('add') }}">Cancelar</a>
            <button class ="btn btn-primary btn-lg bg-success" id="botonConfirmarRegistro" type="submit" class="next-btn">Finalizar Registro</button>
        </div>

      </form>
  <!-- Modal -->
   <div class="modal fade" id="modalExito" tabindex="-1" aria-labelledby="modalExitoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalExitoLabel">Mensaje</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
       </div>
       <div class="modal-body">
        Curso registrado exitosamente!!
       </div>
       <div class="modal-footer">
        <!-- <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
        <button type="button" class="btn btn-primary" id="botonAceptarModal">Aceptar</button>
       </div>
      </div>
     </div>
   </div>   
</div>


<script>
 

  function showPreview(event){
    if(event.target.files.length > 0){
      var src = URL.createObjectURL(event.target.files[0]);
      var preview = document.getElementById("imagePreview");
      preview.src = src;
      preview.style.display = "block";
    }
  }
  document.getElementById("imageInput").addEventListener("change", showPreview);

  document.addEventListener('DOMContentLoaded', () => {
    const formulario = document.getElementById('formularioRegistro');
    formulario.addEventListener('submit', function(event) {
      event.preventDefault(); // Previene el envío estándar del formulario
  
      // Usar FormData para capturar los valores del formulario
      const formData = new FormData(formulario);
      const vistaPrevia = document.getElementById('imagePreview');
  
      // Enviar los datos del formulario al servidor Flask usando Fetch API
      fetch('/add', {
        method: 'POST',
        body: formData,
      })
      .then(response => response.json())
      .then(data => {
        if(data.status === 'success') {
          // Muestra el modal de éxito
          formulario.reset();
          var modalExito = new bootstrap.Modal(document.getElementById('modalExito'));
          modalExito.show();
          
        } else {
          // Manejar el caso de error
          alert('Hubo un error al registrar.');
        }
      })
      
      .catch(error => {
        console.error('Error:', error);
        alert('Error al enviar el formulario.');
      });
      
      document.getElementById('botonAceptarModal').addEventListener('click', () => {
        window.location.href = '/'; // Redirige a la ruta deseada
      });

    });

  });
  
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>